# só o site publicado vai para o repositório
*
!.gitignore
!index.html
!404.html
!robots.txt
!sitemap.xml
!img/
img/*
!img/isabella.jpg
!img/sala.jpg
!img/sofa.jpg
!img/logo-transparente.webp
!img/assinatura.css
!img/compartilhar.jpg
!img/favicon.svg
!img/favicon-48.png
!img/apple-touch-icon.png
!img/icon-192.png
